$title-font: helvetica;
$content-font: arial;
$small-break: 750px;

html {
    background-color: lightblue;

    body {
        background-color: white;
        text-align: center;
        margin: 50px auto;
        max-width: clamp(360px, 75vw, 900px);
        box-shadow: 2px 2px 5px 1px lightslategray;
        padding: 3rem;
        box-sizing: border-box;

        .intro-section {
            overflow: auto;

            h1 {
                font-size: xxx-large;
                margin: 0 0 1.5rem 0;
            }
        }

        .work-section {
            .work-display-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;

                .work-display {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: calc((100% - 40px) / 2);
                    box-shadow: 1px 1px 3px 1px lightslategray;
                    border-radius: 5px;
                    box-sizing: border-box;
                    height: 175px;
                    background-color: lightblue;
                    margin: 10px;
                    transition: width 0.3s;
                }

                @media screen and (max-width: $small-break) {
                    .work-display {
                        width: calc(100% - 20px);
                    }
                }
            }
        }
    }
}

h1,
h2 {
    font-family: $title-font;
}

a,
p {
    font-family: $content-font;
}