body {
  background-color: #69EBD0;
}
body #page-body {
  background-color: white;
  text-align: center;
  margin: 50px auto;
  max-width: clamp(360px, 75vw, 900px);
  box-shadow: 2px 2px 5px 1px lightslategray;
  padding: 3rem;
  box-sizing: border-box;
}
body #page-body .intro-section {
  overflow: auto;
}
body #page-body .intro-section h1 {
  font-size: xxx-large;
  margin: 0 0 1.5rem 0;
}
body #page-body .intro-section p {
  font-size: 14pt;
  line-height: 24pt;
}
body #page-body .work-section .work-display-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
body #page-body .work-section .work-display-container .work-display {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc((100% - 40px) / 2);
  box-shadow: 1px 1px 3px 1px lightslategray;
  border-radius: 5px;
  box-sizing: border-box;
  height: 175px;
  background-color: #69EBD0;
  margin: 10px;
  transition: width 0.3s;
  text-decoration: none;
  overflow: hidden;
  position: relative;
}
body #page-body .work-section .work-display-container .work-display .work-desc {
  display: block;
  position: absolute;
  height: auto;
  width: 90%;
  transform: translateY(175px);
  transition: all 0.5s ease-in-out;
  z-index: 10;
  pointer-events: none;
}
body #page-body .work-section .work-display-container .work-display .work-desc p {
  width: 90%;
}
body #page-body .work-section .work-display-container .work-display .blur-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 5;
  transition: -webkit-backdrop-filter 0.5s ease 0.2s;
  transition: backdrop-filter 0.5s ease 0.2s;
  transition: backdrop-filter 0.5s ease 0.2s, -webkit-backdrop-filter 0.5s ease 0.2s;
}
body #page-body .work-section .work-display-container .work-display .work-link-container {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
body #page-body .work-section .work-display-container .work-display .work-link {
  min-width: 50px;
  min-height: 50px;
  width: 35%;
  background-color: rgba(255, 255, 255, 0.5);
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.5);
  font-family: arial;
  font-size: 12pt;
}
body #page-body .work-section .work-display-container .work-display .work-link:active {
  box-shadow: none;
  transform: translate(2px, 2px);
}
body #page-body .work-section .work-display-container .work-display .work-link:hover {
  background-color: rgba(240, 240, 240, 0.5);
}
body #page-body .work-section .work-display-container .work-display .work-desc-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 3px;
}
body #page-body .work-section .work-display-container .work-display .work-desc-toggle:hover {
  background-color: rgba(200, 200, 200, 0.25);
  box-shadow: inset 1px 1px 0px 0px rgba(0, 0, 0, 0.5);
}
body #page-body .work-section .work-display-container .work-display .work-desc-toggle:hover span {
  transform: translate(1px, 1px);
}
body #page-body .work-section .work-display-container .work-display .work-desc-toggle:hover + .blur-overlay {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
body #page-body .work-section .work-display-container .work-display .work-desc-toggle:hover + .blur-overlay .work-desc {
  transform: translateY(0);
}
@media screen and (max-width: 800px) {
  body #page-body .work-section .work-display-container .work-display {
    width: calc(100% - 20px);
  }
}
body #page-body .contact-section #contact-container {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin: auto;
}
body #page-body .contact-section #contact-container .contact-button {
  width: 120px;
  height: 40px;
  font-size: 12pt;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: rgba(220, 220, 220, 0.5);
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.5);
  font-family: arial;
}
body #page-body .contact-section #contact-container .contact-button:active {
  box-shadow: none;
  transform: translate(2px, 2px);
}
body #page-body .contact-section #contact-container .contact-button:hover {
  background-color: rgba(205, 205, 205, 0.5);
}

h1,
h2 {
  font-family: helvetica;
}

h3,
a,
p {
  font-family: arial;
}/*# sourceMappingURL=style.css.map */